DEBUG=on
SECRET_KEY=your-super-secret-key-do-not-share
ALLOWED_HOSTS=localhost,127.0.0.1

# Database URL format: postgres://user:password@host:port/dbname
DATABASE_URL=postgres://postgres:root321@localhost:5432/cmt_db
MSG_WIDGET_ID=XXXXXXXXXXXXX
MSG_AUTH_KEY=XXXXXXXXXXXXXXX